.login {
  background-image: url("https://i.pinimg.com/originals/ab/ab/60/abab60f06ab52fa7846593e6ae0c9a0b.png");
  background-repeat: repeat;
  background-position: center;
  height: 100vh;
  width: 100vw;
  display: grid;
  place-items: center;
}

.login_container {
  padding: 100px;
  text-align: center;
  background: rgba(255, 255, 255, 0.8);
  border-radius: 10px;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.12), 0 1px;
}

.login_container > p {
  margin-top: 50px;
  color: lightgray;
  cursor: default;
}

.login_container > img {
  object-fit: contain;
  height: 100px;
  margin-bottom: 40px;
}

.login_container > button {
  margin-top: 50px;
  text-transform: inherit !important;
  background-color: #0a8d48 !important;
  color: white;
}
